body{

    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header-flexible{

    display: flex;
    margin-bottom: 100px;
}
.half-width h1{

    font-size: 60px;
    border-left: 5px solid tomato;
    
    border-image-slice: 1;
    margin-top: 20%;
    

}
.orange{

    color: orange;
}
.half-width{

    width: 50%;
    padding-left: 2%;
    box-shadow: yellowgreen;
    margin-left: 10%;
}
.half-width img{

    width: 65%;
    height: 70%;
}
.link-button{
    text-decoration: none;
   background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;

}
.headingtwo{

    text-align: center;

    font-size: 40px;

}

.threeslides{

    display: flex;

    margin-left: 130px;

}

#myMission .card p {

    font-size: 16px;

    line-height: 24px;

  }

  .card {

    width: 320px;

    padding: 20px;

    border-radius: 26px;

  }

  .card img {

    width: 140px;

    height: 140px;

  }

 

  #mission {

    background: rgba(79, 157, 166, 0.1);

  }

  #vission {

    background: rgba(255, 89, 89, 0.1);

  }

  #goal {

    background: #fff4d6;

  }

 

  .slide_margin{

      margin: 30px;

  }
  .contain{
    display: flex;
    margin-left: 130px;
}
.develpolimits{
    background-image: url(shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: 48px;
    background-position-y: 45px;
}
.codingimage img{
    width: 380px;
}
.develop{
    padding-left: 130px;
}
.community{
    width: 780px; 
  }
  .pad{
      padding-left: 30px;
  }
  .knowcommunity{
    background-image: url(shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: 1200px;
    background-position-y: 241px;
  }
 
#footer {
    background-color: #0b0d17;
    margin-top: 50px;
  }
  #footer .content-area {
    text-align: center;
  }
  #footer h2 {
    font-family: "Lobster", cursive;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: white;
  }
  #footer p {
    color: white;
  }
  #footer .content-area {
    padding: 46px 0px;
  }
  #testimonial .flex{
    display: flex;
    justify-content: space-around;

}

#testimonial .test{
    width: 400px;
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 20px;
}